﻿/* Dark Admin Bootstrap Theme by PrepBootstrap - http://www.prepbootstrap.com */
body {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #BDBDBD;
  background-color: #060606;
}
a {
  color: #2a9fd6;
}
a:hover,
a:focus {
  color: #2a9fd6;
}
.img-thumbnail {
  background-color: #060606;
  border-color: #dddddd;
}
hr {
  border-top-color: #282828;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #ffffff;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #BDBDBD;
}
.text-muted {
  color: #BDBDBD;
}
.bg-primary {
  color: #fff;
  background-color: #2a9fd6;
}
a.bg-primary:hover {
  background-color: #2180ac;
}
.bg-success {
  background-color: #77b300;
}
a.bg-success:hover {
  background-color: #558000;
}
.bg-info {
  background-color: #9933cc;
}
a.bg-info:hover {
  background-color: #7a29a3;
}
.bg-warning {
  background-color: #ff8800;
}
a.bg-warning:hover {
  background-color: #cc6d00;
}
.bg-danger {
  background-color: #cc0000;
}
a.bg-danger:hover {
  background-color: #990000;
}
.page-header {
  border-bottom-color: #282828;
}
abbr[title],
abbr[data-original-title] {
  border-bottom-color: #BDBDBD;
}
blockquote {
  border-left-color: #282828;
}
blockquote footer,
blockquote small,
blockquote .small {
  color: #555555;
}
.blockquote-reverse,
blockquote.pull-right {
  border-right-color: #282828;
}
pre {
  color: #282828;
}
table {
  background-color: #181818;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top-color: #282828;
}
.table > thead > tr > th {
  border-bottom-color: #282828;
}
.table > tbody + tbody {
  border-top-color: #282828;
}
.table .table {
  background-color: #060606;
}
.table-bordered {
  border: 1px solid #282828;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: #282828;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #080808;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #282828;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #282828;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {
  background-color: #1b1b1b;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #77b300;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr.success:hover > th {
  background-color: #669a00;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #9933cc;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr.info:hover > th {
  background-color: #8a2eb8;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #ff8800;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #e67a00;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #cc0000;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #b30000;
}
@media (max-width: 767px) {
  .table-responsive {
    border-color: #282828;
  }
}
legend {
  border-bottom-color: #282828;
}
output {
  padding-top: 9px;
  color: #BDBDBD;
}
.form-control {
  height: 38px;
  padding-left: 8px;
  color: #656565;
  border-color: #282828;
}
.form-control::-moz-placeholder {
  color: #BDBDBD;
}
.form-control:-ms-input-placeholder {
  color: #BDBDBD;
}
.form-control::-webkit-input-placeholder {
  color: #BDBDBD;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #adafae;
}
input[type="date"] {
  line-height: 38px;
}
.input-lg {
  height: 54px;
  padding-left: 14px;
}
select.input-lg {
  height: 54px;
  line-height: 54px;
}
.has-feedback .form-control {
  padding-right: 47.5px;
}
.has-feedback .form-control-feedback {
  width: 38px;
  height: 38px;
  line-height: 38px;
}
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #ffffff;
}
.has-success .form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}
.has-success .input-group-addon {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #77b300;
}
.has-success .form-control-feedback {
  color: #ffffff;
}
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #ffffff;
}
.has-warning .form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}
.has-warning .input-group-addon {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #ff8800;
}
.has-warning .form-control-feedback {
  color: #ffffff;
}
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #ffffff;
}
.has-error .form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}
.has-error .input-group-addon {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #cc0000;
}
.has-error .form-control-feedback {
  color: #ffffff;
}
.help-block {
  color: #c8c8c8;
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 9px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 29px;
}
.form-horizontal .form-control-static {
  padding-top: 9px;
}
.btn {
  padding-left: 8px;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
}
.btn-default {
  color: #ffffff;
  background-color: #424242;
  border-color: #424242;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #2d2d2d;
  border-color: #232323;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #424242;
  border-color: #424242;
}
.btn-default .badge {
  color: #424242;
  background-color: #ffffff;
}
.btn-primary {
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #2386b4;
  border-color: #1f79a3;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}
.btn-primary .badge {
  color: #2a9fd6;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #77b300;
  border-color: #77b300;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #5c8a00;
  border-color: #4e7600;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #77b300;
  border-color: #77b300;
}
.btn-success .badge {
  color: #77b300;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #9933cc;
  border-color: #9933cc;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #812bab;
  border-color: #74279b;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #9933cc;
  border-color: #9933cc;
}
.btn-info .badge {
  color: #9933cc;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #ff8800;
  border-color: #ff8800;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #d67200;
  border-color: #c26700;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #ff8800;
  border-color: #ff8800;
}
.btn-warning .badge {
  color: #ff8800;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #cc0000;
  border-color: #cc0000;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #a30000;
  border-color: #8f0000;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #cc0000;
  border-color: #cc0000;
}
.btn-danger .badge {
  color: #cc0000;
  background-color: #ffffff;
}
.btn-link {
  color: #2a9fd6;
}
.btn-link:hover,
.btn-link:focus {
  color: #2a9fd6;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #BDBDBD;
}
.btn-lg,
.btn-group-lg > .btn {
  padding-left: 14px;
}
.dropdown-menu {
  background-color: #222222;
  border-color: #444444;
  border-color: rgba(255, 255, 255, 0.1);
}
.dropdown-menu .divider {
  background-color: rgba(255, 255, 255, 0.1);
}
.dropdown-menu > li > a {
  color: #ffffff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #2a9fd6;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #2a9fd6;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #BDBDBD;
}
.dropdown-header {
  color: #BDBDBD;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 54px;
  padding-left: 16px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 54px;
  line-height: 54px;
}
.input-group-addon {
  padding-left: 8px;
  color: #BDBDBD;
  border: 1px solid #282828;
}
.input-group-addon.input-lg {
  padding-left: 14px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #222222;
}
.nav > li.disabled > a {
  color: #BDBDBD;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #BDBDBD;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #222222;
  border-color: #2a9fd6;
}
.nav-tabs {
  border-bottom-color: #282828;
}
.nav-tabs > li > a:hover {
  border-color: transparent transparent #282828;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ffffff;
  background-color: #2a9fd6;
  border: 1px solid #282828;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-color: #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom-color: #dddddd;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #060606;
  }
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #2a9fd6;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border-color: #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom-color: #dddddd;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #060606;
  }
}
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.navbar-form {
  margin-top: 6px;
  margin-bottom: 6px;
}
.navbar-btn {
  margin-top: 6px;
  margin-bottom: 6px;
}
.navbar-default {
  background-color: #060606;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #BDBDBD;
}
.navbar-default .navbar-nav > li > a {
  color: #BDBDBD;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #BDBDBD;
}
.navbar-default .navbar-toggle {
  border-color: #282828;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #282828;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #BDBDBD;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #BDBDBD;
  }
}
.navbar-default .navbar-link {
  color: #BDBDBD;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.navbar-inverse {
  background-color: #222222;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
}
.navbar-inverse .navbar-text {
  color: #BDBDBD;
}
.navbar-inverse .navbar-nav > li > a {
  color: #BDBDBD;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #aaaaaa;
}
.navbar-inverse .navbar-toggle {
  border-color: #333333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #BDBDBD;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #aaaaaa;
  }
}
.navbar-inverse .navbar-link {
  color: #BDBDBD;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}
.breadcrumb {
  background-color: #222222;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  color: #ffffff;
}
.breadcrumb > .active {
  color: #BDBDBD;
}
.pagination > li > a,
.pagination > li > span {
  padding-left: 12px;
  color: #ffffff;
  background-color: #222222;
  border-color: #282828;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: transparent;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: transparent;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #BDBDBD;
  background-color: #222222;
  border-color: #282828;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding-left: 14px;
}
.pager li > a,
.pager li > span {
  background-color: #222222;
  border-color: #282828;
}
.pager li > a:hover,
.pager li > a:focus {
  background-color: #2a9fd6;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #BDBDBD;
  background-color: #222222;
}
.label {
  color: #ffffff;
}
.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
}
.label-default {
  background-color: #424242;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #282828;
}
.label-primary {
  background-color: #2a9fd6;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #2180ac;
}
.label-success {
  background-color: #77b300;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #558000;
}
.label-info {
  background-color: #9933cc;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #7a29a3;
}
.label-warning {
  background-color: #ff8800;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #cc6d00;
}
.label-danger {
  background-color: #cc0000;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #990000;
}
.badge {
  color: #ffffff;
  background-color: #2a9fd6;
}
a.badge:hover,
a.badge:focus {
  color: #ffffff;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #2a9fd6;
  background-color: #ffffff;
}
.jumbotron {
  background-color: #151515;
}
.thumbnail {
  background-color: #060606;
  border: 1px solid #dddddd;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #2a9fd6;
}
.thumbnail .caption {
  color: #BDBDBD;
}
.alert-success {
  background-color: #77b300;
  border-color: #809a00;
  color: #ffffff;
}
.alert-success hr {
  border-top-color: #6a8000;
}
.alert-success .alert-link {
  color: #e6e6e6;
}
.alert-info {
  background-color: #9933cc;
  border-color: #6e2caf;
  color: #ffffff;
}
.alert-info hr {
  border-top-color: #61279b;
}
.alert-info .alert-link {
  color: #e6e6e6;
}
.alert-warning {
  background-color: #ff8800;
  border-color: #f05800;
  color: #ffffff;
}
.alert-warning hr {
  border-top-color: #d64f00;
}
.alert-warning .alert-link {
  color: #e6e6e6;
}
.alert-danger {
  background-color: #cc0000;
  border-color: #bd001f;
  color: #ffffff;
}
.alert-danger hr {
  border-top-color: #a3001b;
}
.alert-danger .alert-link {
  color: #e6e6e6;
}
.progress {
  background-color: #222222;
}
.progress-bar {
  color: #ffffff;
  background-color: #2a9fd6;
}
.progress-bar-success {
  background-color: #77b300;
}
.progress-bar-info {
  background-color: #9933cc;
}
.progress-bar-warning {
  background-color: #ff8800;
}
.progress-bar-danger {
  background-color: #cc0000;
}
.list-group-item {
  background-color: #222222;
  border-color: #282828;
}
a.list-group-item {
  color: #BDBDBD;
}
a.list-group-item .list-group-item-heading {
  color: #ffffff;
}
a.list-group-item:hover,
a.list-group-item:focus {
  background-color: #484848;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #d5ecf7;
}
.list-group-item-success {
  color: #ffffff;
  background-color: #77b300;
}
a.list-group-item-success {
  color: #ffffff;
}
a.list-group-item-success:hover,
a.list-group-item-success:focus {
  color: #ffffff;
  background-color: #669a00;
}
a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.list-group-item-info {
  color: #ffffff;
  background-color: #9933cc;
}
a.list-group-item-info {
  color: #ffffff;
}
a.list-group-item-info:hover,
a.list-group-item-info:focus {
  color: #ffffff;
  background-color: #8a2eb8;
}
a.list-group-item-info.active,
a.list-group-item-info.active:hover,
a.list-group-item-info.active:focus {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.list-group-item-warning {
  color: #ffffff;
  background-color: #ff8800;
}
a.list-group-item-warning {
  color: #ffffff;
}
a.list-group-item-warning:hover,
a.list-group-item-warning:focus {
  color: #ffffff;
  background-color: #e67a00;
}
a.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.list-group-item-danger {
  color: #ffffff;
  background-color: #cc0000;
}
a.list-group-item-danger {
  color: #ffffff;
}
a.list-group-item-danger:hover,
a.list-group-item-danger:focus {
  color: #ffffff;
  background-color: #b30000;
}
a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.panel {
  background-color: #222222;
}
.panel-footer {
  background-color: #3c3c3c;
  border-top: 1px solid #282828;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
  border-top-color: #282828;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top-color: #282828;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #282828;
}
.panel-default {
  border-color: #282828;
}
.panel-default > .panel-heading {
  color: #BDBDBD;
  background-color: #3c3c3c;
  border-color: #282828;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #282828;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #282828;
}
.panel-primary {
  border-color: #2a9fd6;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #2a9fd6;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #2a9fd6;
}
.panel-success {
  border-color: #809a00;
}
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #77b300;
  border-color: #809a00;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #809a00;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #809a00;
}
.panel-info {
  border-color: #6e2caf;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #9933cc;
  border-color: #6e2caf;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #6e2caf;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #6e2caf;
}
.panel-warning {
  border-color: #f05800;
}
.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #ff8800;
  border-color: #f05800;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #f05800;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #f05800;
}
.panel-danger {
  border-color: #bd001f;
}
.panel-danger > .panel-heading {
  color: #ffffff;
  background-color: #cc0000;
  border-color: #bd001f;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bd001f;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bd001f;
}
.well {
  background-color: #151515;
  border: 1px solid #030303;
}
.modal-content {
  background-color: #202020;
  border-color: #999999;
  border-color: rgba(0, 0, 0, 0.2);
}
.modal-backdrop {
  background-color: #000000;
}
.modal-header {
  border-bottom-color: #282828;
}
.modal-footer {
  border-top-color: #282828;
}
.tooltip-inner {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
}
.tooltip.top .tooltip-arrow {
  border-top-color: rgba(0, 0, 0, 0.9);
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: rgba(0, 0, 0, 0.9);
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: rgba(0, 0, 0, 0.9);
}
.tooltip.right .tooltip-arrow {
  border-right-color: rgba(0, 0, 0, 0.9);
}
.tooltip.left .tooltip-arrow {
  border-left-color: rgba(0, 0, 0, 0.9);
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: rgba(0, 0, 0, 0.9);
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: rgba(0, 0, 0, 0.9);
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: rgba(0, 0, 0, 0.9);
}
.popover {
  background-color: #202020;
  border-color: #999999;
  border-color: rgba(0, 0, 0, 0.2);
}
.popover-title {
  background-color: #181818;
  border-bottom-color: 1px solid #0b0b0b;
}
.popover.top > .arrow {
  border-top-color: #666666;
  border-top-color: rgba(0, 0, 0, 0.25);
}
.popover.top > .arrow:after {
  border-top-color: #202020;
}
.popover.right > .arrow {
  border-right-color: #666666;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right > .arrow:after {
  border-right-color: #202020;
}
.popover.bottom > .arrow {
  border-bottom-color: #666666;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
.popover.bottom > .arrow:after {
  border-bottom-color: #202020;
}
.popover.left > .arrow {
  border-left-color: #666666;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
  border-left-color: #202020;
}
.carousel-control {
  color: #ffffff;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
}
.carousel-indicators li {
  border-color: #ffffff;
}
.carousel-indicators .active {
  background-color: #ffffff;
}
.carousel-caption {
  color: #ffffff;
}
.navbar {
  border-bottom: 1px solid #282828;
}
.text-primary,
.text-primary:hover {
  color: #2a9fd6;
}
.text-success,
.text-success:hover {
  color: #77b300;
}
.text-danger,
.text-danger:hover {
  color: #cc0000;
}
.text-warning,
.text-warning:hover {
  color: #ff8800;
}
.text-info,
.text-info:hover {
  color: #9933cc;
}
table,
.table {
  color: #fff;
}
table a,
.table a {
  color: #fff;
  text-decoration: underline;
}
.table-responsive > .table {
  background-color: #181818;
}
.has-warning .help-block,
.has-warning .control-label {
  color: #ff8800;
}
.has-warning .form-control,
.has-warning .form-control:focus {
  border-color: #ff8800;
}
.has-error .help-block,
.has-error .control-label {
  color: #cc0000;
}
.has-error .form-control,
.has-error .form-control:focus {
  border-color: #cc0000;
}
.has-success .help-block,
.has-success .control-label {
  color: #77b300;
}
.has-success .form-control,
.has-success .form-control:focus {
  border-color: #77b300;
}
legend {
  color: #fff;
}
.input-group-addon {
  background-color: #424242;
}
.nav .caret,
.nav a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.nav-tabs a,
.nav-pills a,
.breadcrumb a,
.pager a {
  color: #fff;
}
.alert .alert-link,
.alert a {
  color: #ffffff;
  text-decoration: underline;
}
.alert .close {
  color: #fff;
  text-decoration: none;
  opacity: 0.4;
}
.alert .close:hover,
.alert .close:focus {
  color: #fff;
  opacity: 1;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6 {
  color: #fff;
}

body {
  margin-top: 20px;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}


/* Nav Announcements */

.alerts-heading {
  font-size: 50px;
  margin: 0;
}

.alerts-text {
  margin: 0;
}

/* Table Headers */

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
        padding-left: 225px;
        -webkit-transition: padding-left 1s ease 0s;
        -moz-transition: padding-left 1s ease 0s;
        -o-transition: padding-left 1s ease 0s;
        transition: padding-left 1s ease 0s;
  }

  #wrapper.off {
    padding-left: 0px;
  }

  #page-wrapper {
        padding: 15px 25px;
  }

  /* Side Nav */

  .side-nav {
        margin-left: -225px;
        left: 225px;
        width: 225px;
        position: fixed;
        top: 50px;
        height: 100%;
        border-radius: 0;
        border: none;
        background-color: #222222;
        overflow-y: auto;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        transition: all 1s ease 0s;
  }

  .side-nav.off {
    margin-left: 0px;
    left: 0px;
    width: 0px;
  }

  /*menu overrides*/
  .side-nav>ul>li.dropdown>ul.dropdown-menu {
        position: relative;
        min-width: 225px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
  }

  .side-nav>ul>li.dropdown>ul.dropdown-menu>li>a {
        color: #999999;
        padding: 15px 15px 15px 25px;
  }

  .side-nav>ul>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>ul>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>ul>li.dropdown>ul.dropdown-menu>li>a:focus {
        color: #fff;
        background-color: #080808;
  }

  .side-nav>ul>li>a {
        width: 225px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
        background-color: #080808;
  }

  /* Nav Messages */

  .messages-dropdown .dropdown-menu {
        min-width: 300px;
  }

  .messages-dropdown .dropdown-menu li a {
        white-space: normal;
  }

  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

}

.navbar-search
{
    padding-right: 27px;
    padding-top: 7px;
}

/*Feed*/

.feed-item:before, .feed-item:after {
    content: " ";
    display: block;
    height: 11px;
}
.feed-item .icon {
    color: #FFFFFF;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    padding-left: 11px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 28px;
    z-index: 1;
}
.feed-item-body {
    margin-left: 40px;
    padding-top: 3px;
    vertical-align: bottom;
}
.feed-item-body .time {
    color: #D2D2D2;
    font-size: 11.05px;
    line-height: 1.5em;
}
.feed
{
    height: 430px;
    overflow: hidden;
    position: relative;
    width: auto;
    color: #F8F8F8;
}

.news-list,.server-stats {
    list-style: none outside none;
    padding-left: 0;
}

.news-list img, .news-list .icon, .users-list img, .users-list .icon {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}
.news-list li, .users-list li {
    -moz-box-sizing: content-box;
    border-top: 1px solid rgba(51, 51, 51, 0.25);
    cursor: pointer;
     height: 67px;

    padding-bottom: 12px;
    transition: background-color 0.2s ease-out 0s;
}

.selected {
    border-left:7px solid #2A9FD6;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    border:3px solid white;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

@media (min-width: 768px) {
  #icon-wrapper {
    margin-left: 37.5px;
    margin-top: -7.5px;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }
  #icon-wrapper.off {
    margin-left: 0px;
  }
}

/* bootplus content for nicer style team page */

.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: #151515;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 325px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  border: 5px solid #151515;
  border-bottom: 0;
  top: 0;
  left: 0;
  width: inherit;
  height: 175px;
}

.card.people .card-info {
  text-align: center;
  position: absolute;
  top: 175px;
  display: inherit;
  width: inherit;
  height: 100px;
  overflow: inherit;
  background: inherit;
}

.card.people .card-info .title {
  margin: 8px 14px 0 14px;
  overflow: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #afafaf;
}

.card.people .card-info .desc {
  margin: 8px 14px 0 14px;
  overflow: inherit;
  font-size: 12px;
  line-height: 16px;
  color: #9a9a9a;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
}