        <script type="text/javascript">
        function build_disqus(identifier, title, container_id) {
            if (window.DISQUS) {
                if (window.disqus_container_id == container_id) return;
                DISQUS.reset({
                    reload: true,
                    config: function() {
                        this.page.identifier = identifier.toString();
                        this.page.title = title;
                        this.page.container_id = container_id;
                    }
                });
            } else {
                window.disqus_shortname = 'cybojenix'; // required: replace example with your forum shortname
                window.disqus_identifier = identifier;
                window.disqus_title = title;
                window.disqus_container_id = container_id;
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            }
        }
        </script>
        <div id="page-wrapper">
            <div class="row">
                <div class="page-header">
                    <h1>News</h1>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Article Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                    Quisque mauris aug....
                            </p>
                            <div class="text-right">
                                <button class="btn btn-default" data-toggle="modal" data-target="#post1234"><i class="fa fa-plus"></i>Full Story</button>
                                <button class="btn btn-default" rel="click-pop" data-content='<button class="btn btn-default"><i class="fa fa-facebook"></i></button>'><i class="fa fa-share"></i>Share</button>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Side</h2>
                            <div class="panel panel-default">
                                <div class="panel-heading">News</div>
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-default"><i class="fa fa-plus"></i>Full Story</button>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-thread" id="post1234" data-title="random news" tabindex="-1">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Article Title</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                            Aliquam in felis sit amet augue.
                        </p>
                        <div id="disqus_id_post1234"></div>
                        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('[rel=click-pop]').popover({
                    html: true,
                    container: "body",
                    trigger : "click",
                    placement : "bottom",
                });
            });

            $('.modal-thread').on('show.bs.modal', function(e) {
                var identifier = this.id;
                var title = $(this).attr('data-title');
                var container_id = 'disqus_id_' + identifier;
                build_disqus(identifier, title, container_id);
            });
        </script>