        <div id="page-wrapper">
            <div class="row">
                <div class="page-header">
                    <h1>SlimX Team</h1>
                </div>
            </div>
            <div class="card people">
                <div class="card-top">
                    <img class="img-responsive" alt="Bootstrap template" src="/img/contact-icon.png" />
                </div>
                    <div class="card-info">
                    <div class="title">unknown</div>
                    <div class="desc">
                        <div>location: unknown</div>
                        <div>role: unknown</div>
                    </div>
                </div>
                <div class="card-bottom">
                    <button class="btn btn-default">Contact</button>
                </div>
            </div>
            <div class="card people">
                <div class="card-top">
                    <img class="img-responsive" alt="Bootstrap template" src="/img/contact-icon.png" />
                </div>
                <div class="card-info">
                    <div class="title">unknown</div>
                    <div class="desc">
                        <div>location: unknown</div>
                        <div>role: unknown</div>
                    </div>
                </div>
                <div class="card-bottom">
                    <button class="btn btn-default">Contact</button>
                </div>
            </div>
            <div class="card people">
                <div class="card-top">
                    <img class="img-responsive" alt="Bootstrap template" src="/img/contact-icon.png" />
                </div>
                <div class="card-info">
                    <div class="title">unknown</div>
                    <div class="desc">
                        <div>location: unknown</div>
                        <div>role: unknown</div>
                    </div>
                </div>
                <div class="card-bottom">
                    <button class="btn btn-default">Contact</button>
                </div>
            </div>
            <div class="card people">
                <div class="card-top">
                    <img class="img-responsive" alt="Bootstrap template" src="/img/contact-icon.png" />
                </div>
                <div class="card-info">
                    <div class="title">unknown</div>
                    <div class="desc">
                        <div>location: unknown</div>
                        <div>role: unknown</div>
                    </div>
                </div>
                <div class="card-bottom">
                    <button class="btn btn-default">Contact</button>
                </div>
            </div>
        </div>